<h1>Paperclip</h1>

advantage
<ul>
  <li>by Thoughbot => they also created factory girl => realy well writen</li>
  <li>I have experiences with it on sev projects and it had work well</li>
  <li>not on fly</li>
</ul>


<ul>
  <li>runs by def. with RMagick wich is heavy for us (can use MiniMagic but with hacking)</li>
  <li>depends on ActiveRecord  from def</li>
  <li>not on fly</li>
  <li>active record based</li>
</ul>


Rmagick based image porcessing

<h1>attachment fu</h1>
https://github.com/technoweenie/attachment_fu

adv.
<ul>
  <li>not on fly</li>
</ul>

disadv.
<ul>
  <li>no experiences with it</li>
  <li>no buzz around it in R. comunity (getting old)</li>
  <li>dont like configuration looks kinda heavy</li>
  <li></li>
  <li>active record based</li>
</ul>



Rmagick based image porcessing
